.controlCont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnCont{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 10px;
  margin-top: 50px;
}

.mr52{
  margin-right: 52px;
}

.mr12{
  margin-right: 12px;
}

.mr80{
  margin-right: 80px;
}